        html,
        body,
        div,
        span,
        applet,
        object,
        iframe,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        pre,
        a,
        abbr,
        acronym,
        address,
        big,
        cite,
        code,
        del,
        dfn,
        em,
        img,
        ins,
        kbd,
        q,
        s,
        samp,
        small,
        strike,
        strong,
        sub,
        sup,
        tt,
        var,
        b,
        u,
        i,
        center,
        dl,
        dt,
        dd,
        ol,
        ul,
        li,
        fieldset,
        form,
        label,
        legend,
        table,
        caption,
        tbody,
        tfoot,
        thead,
        tr,
        th,
        td,
        article,
        aside,
        canvas,
        details,
        embed,
        figure,
        figcaption,
        footer,
        header,
        hgroup,
        menu,
        nav,
        output,
        ruby,
        section,
        summary,
        time,
        mark,
        audio,
        video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        /* HTML5 display-role reset for older browsers */
        
        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        menu,
        nav,
        section {
            display: block;
        }
        
        body {
            line-height: 1;
        }
        
        ol,
        ul {
            list-style: none;
        }
        
        blockquote,
        q {
            quotes: none;
        }
        
        blockquote:before,
        blockquote:after,
        q:before,
        q:after {
            content: '';
            content: none;
        }
        
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        
        .nav-pills {
            font-size: 1.8em;
            background-color: white;
        }
        
        body {
            font-family: Lobster;
            color: white;
        }
        
        .nav-pills>li>a:hover {
            color: white;
            background-color: #337ab7;
        }
        
        .nav-pills> li:nth-child(1) > a:hover {
            color: deepskyblue;
            background-color: white;
        }
        
        .navbar-default {
            background-color: white;
        }
        
        .pageOne {
            background-image: url("https://images.unsplash.com/photo-1468779065891-103dac4a7c48?ixlib=rb-0.3.5&q");
            background-size: cover;
            height: 700px;
            margin-top: 4%;
            padding-top: 10%;
        }
        
        .pageTwo {
            background-image: url("https://images.unsplash.com/photo-1482745637430-91c0bbcea3e1?ixlib=rb-0.3.5&q");
            background-size: cover;
            height: 750px;
        }
        
        .pageThree {
            background-image: url("https://images.unsplash.com/38/awhCbhLqRceCdjcPQUnn_IMG_0249.jpg?ixlib=rb-0.");
            background-size: cover;
            height: 700px;
            padding-top: 6%;
        }
        
        .pageFour {
            background-image: url("https://images.unsplash.com/photo-1436397543931-01c4a5162bdb?ixlib=rb-0.3.5&q=");
            background-size: cover;
            height: 500px;
            padding-top: 8%;
        }
        
        .btn-default {
            background-color: white;
            border-color: white;
            color: #337ab7;
            
        }
        
        .main-btn {
            font-size: 1.8em;
                        margin-left: 1.5%;
            margin-right: 1.5%;
}
.main-btn:hover {
	opacity: 0.9;
    border-color: white;
}
        
        .title {
            font-size: 4em;
        }
        
        .title2 {
            font-size: 3em;
            text-shadow: 2px 2px #000;
        }
        
        .block {
            background-color: black;
            opacity: .85;
            width: 55%;
            height: 30%;
            margin: 0 auto;
            padding-top: 2.5%;
            border-radius: 5px;
            font-size: 1.2em;
        }
        
        .blockTwo {
            background-color: white;
            color: black;
            opacity: .88;
            width: 80%;
            border-radius: 20px;
            font-size: 1.2em;
            margin: auto;
            margin-top: 7.5%;
            padding: 3%;
        }
        
        .blockTwo>p {
            font-family: Vollkorn;
            margin-top: 5px;
            font-size: 1em;
        }
        
        .selfImg {
            height: 450px;
            width: auto;
            border-radius: 50%;
            border: 1px solid #ddd;
            box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;
            margin-top: 15%;
            margin-left: 10%;
        }
        
        .navyBlue {
            color: royalblue;
            font-family: Lobster;
            font-size: 1.3em;
        }
        
        .btnList {
            margin-top: 1%;

            

        }
        
        #githubIcon {
            color: rgb(102, 43, 129);
        }
        
        #facebookIcon {
            color: rgb(59, 89, 163);
        }
        
        #linkedInIcon {
            color: rgb(0, 127, 178);
        }
        
        .projectImg {
            width: 100%;
        }
        
        .blockThree {
            margin-top: 10%;
            padding-left: 2%;
            padding-right: 2%;
        }
        
        .footer {
            width: 100%;
            background-color: aliceblue;
            padding: 2px;
        }
        
        .copyRight {
            color: black;
            font-size: 0.7em;
            margin-top: 2px;
        }
        
        .paddingBTN {
            opacity: 1;
            width: 200px;
            margin-bottom: 5%;
            background: white;
            border: 4px solid white;
            border-radius: 50%;
        }
        
        .paddingBTN:hover {
            opacity: .9;
            background: white;
            border: 4px solid white;
        }
        
        h1 a {
            color: aliceblue;
        }
        
        h1 a:hover {
            color: aliceblue;
        }